body{
	background:#041221;
}
img{
    max-width:100%;
}
.card{
	overflow:hidden;
	/*display:none;*/
}
figure.image{
    margin:0;
}
.card-content{
    background:white;
    padding:15px;
}
div#flow{
    z-index:-1;
    position:absolute;
}
.field.has-addons{
	clear:both;
}
.control.is-expanded{
	width:calc(100% - 100px);
	float:left;
}
input.input.has-text-centered{
	width:100%;
	text-align:center;
}
.control {
    width: 100px;
    display: inline-block;
}
a.button.is-info {
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    background: #2988ff;
}
.box{
	position:sticky;
	top:0;
	background:#8bc7f9;
	padding:5px 15px;
	border-radius:5px;
	box-shadow:0 0 5px #0000003b;
}
.row.columns{
    display:table;
}
.column.is-one-third{
	width:calc(33.3333333% - 30px);
    float:left;
    margin:15px;
    display:table-cell;
    background:white;
}
.card.large{
	height:600px;
	backface-visibility:initial;
	border-radius:5px;
	overflow-y:auto; /*for tablet!*/
}
.media-content{
	overflow:hidden;
}
.media{
    clear:both;
}
.media-left{
    width:30%;
    float:left;
    margin-right:15px;
}
.media-content{
    float:left;
    width:calc(70% - 15px);
}
p.title.is-4{
    margin-top:0;
}
.title.no-padding{
	margin-bottom:0 !important;
}
#flow span{
	display:block;
	width:200vw;
	height:200vw;
	position:absolute;
	top:-180vw;
	left:-50vw;
	border-radius:90vw;
	opacity:0.6;
}
.content {
    clear: both;
}
.box {
    clear: both;
}
.flow-1{
	background:#3281ff;
	-webkit-animation:rotating 20s linear infinite;
	-moz-animation:rotating 20s linear infinite;
	-ms-animation:rotating 20s linear infinite;
	-o-animation:rotating 20s linear infinite;
	animation:rotating 20s linear infinite;
	display:none;
}
.flow-2{
	background:#f442ee;
	position:absolute;
	-webkit-animation:rotating 15s linear infinite;
	-moz-animation:rotating 15s linear infinite;
	-ms-animation:rotating 15s linear infinite;
	-o-animation:rotating 15s linear infinite;
	animation:rotating 15s linear infinite;
}
.flow-3{
	background:#42eef4;
	position:absolute;
	-webkit-animation:rotating 7s linear infinite;
	-moz-animation:rotating 7s linear infinite;
	-ms-animation:rotating 7s linear infinite;
	-o-animation:rotating 7s linear infinite;
	animation:rotating 7s linear infinite;
}
@-webkit-keyframes rotating{
	from{
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
/*
@keyframes rotating{
from{
-ms-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);
}
to{
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
}
}
.rotating{
-webkit-animation:rotating 2s linear infinite;
-moz-animation:rotating 2s linear infinite;
-ms-animation:rotating 2s linear infinite;
-o-animation:rotating 2s linear infinite;
animation:rotating 2s linear infinite;
}
.footer{
background-color:#222831;
color:lemonchiffon;
}
.footer p, strong
{color:lemonchiffon}
.footer a:hover
{color:crimson;}
.fa
{color:lemonchiffon;
    margin:10px}

::selection 
{background-color:#DEF4FF}
